.form-container {
    display: flex;
    flex-direction: column;
    min-width: 420px;
}

.form-container label {
    margin-bottom: 8px;
  }
  
  .form-container input,
  .form-container textarea {
    margin-bottom: 16px; 
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  .form-container input {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    color: #000000;
  }
  
  .form-container button {
    margin-top: 16px; 
  }

.create form{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.412);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 652px;
    display: flex;
    justify-content: flex-start;
    height: 495px;
}
.create label:nth-child(3){
    margin-left: 0px;
}
.create button{
    margin-left: 0px;
    color: white;
    background-color: #7749F8;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

}

.create textarea {
  min-width: 200px;
  min-height: 200px;
  max-height: 200px;
}


.form-group{
  display: flex;
  flex-direction: column;
}