.create-task {
    padding: 1rem;
  }
  
  .create-task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.412);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 552px;
    display: flex;
    justify-content: flex-start;
    height: 460px;
  }
  
  .create-task-form label {
    font-weight: bold;
  }
  
  .create-task-form input,
  .create-task-form select,
  .create-task-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    max-height: 200px; /* Add this line to set the maximum height */
  resize: vertical;  /* Allows vertical resizing but within the limits */
  }
  
  .create-task-form textarea {
    min-height: 50px;
    outline: none;
  }

  .create-task-form .form-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .create-task-form .form-buttons button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #7749F8;
    color: white;
    cursor: pointer;
  }
  
  .create-task-form .form-buttons button:hover {
    background-color: #3b256e;
  }
  