.kanban-board {
  display: flex;
  justify-content: space-between;
  height: 80vh; /* Set the height to 100% of the viewport height */
  width: 90vw; /* Set the width to 100% of the viewport width */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10rem;
  margin-left: -10rem;
}

.lane {
  background-color: #64232398;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 31.5%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: scroll;
}

.lane-header {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 10px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  cursor: grab;
  word-wrap: break-word; /* Break long words to fit within the container */
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate text with ellipsis */
}

.task-item:hover {
  background-color: #f0f0f0;
}

/* Color changers based on task status */
.task-priority-high {
  border-left: 5px solid red;
}

.task-priority-medium {
  border-left: 5px solid orange;
}

.task-priority-low {
  border-left: 5px solid green;
}

.task-status img{
  width: 30px;
}

.back-button {
  background-color: #ffffff98;
  color: #000000;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.1rem;
  margin-left: -1rem;
  
  position: relative;
  top: -35vh;
  z-index: 1;
  
}

.back-button:hover {
  transform: scale(1.03);
  transition-duration: 0.3s;
  background-color: #3C257C;
  color: #fff;
}
